

<html>
<head>


       <style>
       table {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
       }

       td{
         width: 1px;
       }
       </style>
</head>


<body>
            <p id="notice"><%= notice %></p>

          <h1 style="text-align: center">Feed</h1>



          <table colspan="6">
            <% @images.each do |image| %>

              <tr>
                <td><%= image_tag image.image.correct.url %></div></td>
              </tr>
              <tr>
                <td style="text-align: left"><img src=http://bit.ly/2xY2yDH alt="heart" style="width:42px;height:42px;border:0"></td>
                <td><%= image.increment!(:likes) %></td>
              </tr>
              <tr>
                <td style="text-align: left"><strong><%= image.description %></strong></td>
              </tr>
              <tr>
                <% image.comments.each do |c|%>
                <td><%= c.commenter %><td>
              </tr>
              <%end%>
            <tr>
              <td><%= link_to 'View', image %></td>
            </tr>
            <% end %>
          </tbody>
          </table>

          <br>



            <h2> <%= link_to 'New Image', new_image_path %> <h2>





        </body>
        </html>
